<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    {{>headers}}
    <p>Created by {{name}}</p>
    <img src="assets/img/Selena.jpeg" />
    {{>footer}}
</body>

</html>